<?xml version="1.0"?>
<unity>
  <typeAliases>
    <typeAlias alias="HierarchicalLifetimeManager"
          type="Microsoft.Practices.Unity.HierarchicalLifetimeManager, 
        Microsoft.Practices.Unity" />
  </typeAliases>
  <container>
    <register type="Base.Services.IRepositories.IUserRepository, Base.Services"
              mapTo="Base.Data.Repositories.UserRepository, Base.Data">
    </register>

  </container>
</unity>